<div class="wrapper-post">
  <div class="teaser-title">
   <h3> {{ fields.title.content }} </h3>
  </div>
  <div class="teaser-image">
    {{ fields.field_promo_image.content }}
  </div>
  <div class="teaser-body">
    {{ fields.field_anons.content }}
  </div>
</div>

