<div class="two-column">
  <div class="main-region">
    {{ content.main }}
  </div>
  <div class="columns">
    <div class="left-region">
      {{ content.left }}
    </div>
    <div class="right-region">
      {{ content.right }}
    </div>
    <div style="clear:both"></div>
  </div>
  <div class="footer-region">
    {{ content.footer }}
  </div>
</div>
